{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block main %}
    <div class="container">
        <div style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">{{ 'change_password.submit' | trans }}</div>
                    <div style="float:right; position: relative; top:-10px">
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login' | trans }}</a>
                    </div>
                </div>
                <div class="panel-body" >

                    {#<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">#}
                        {#{{ form_start(form) }}#}
                        {#{{ form_errors(form) }}#}
                        {#<p><span class="edit_left_date">{{ form_label(form.current_password, 'Current Passwort') }} </span>#}
                            {#<span class="edit_right">{{ form_widget(form.current_password) }}</span></p>#}
                        {#<p><span class="edit_left_date">{{ form_label(form.plainPassword.first, 'New Passwort') }} </span>#}
                            {#<span class="edit_right">{{ form_widget(form.plainPassword.first) }}</span></p>#}
                        {#<p><span class="edit_left_date">{{ form_label(form.plainPassword.second, 'Confirm') }} </span>#}
                            {#<span class="edit_right">{{ form_widget(form.plainPassword.second) }}</span></p>#}
                        {#<div>#}
                            {#<input type="submit" value="Change password" />#}
                        {#</div>#}
                        {#{{ form_end(form) }}#}
                    {#</form>#}
                    <form class="form-horizontal" role="form" action="{{ path("fos_user_change_password") }}" method="post">
                        <div class="form-group">
                            <label for="username" class="col-md-4 control-label">{{ 'form.current_password' | trans }}</label>
                            <div class="col-md-8">
                                {{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'placeholder' : 'form.current_password' | trans , 'required': 'required'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">{{ 'form.new_password' | trans }}</label>
                            <div class="col-md-8">
                                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder' : 'form.new_password' | trans , 'required': 'required'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">{{ 'form.password_confirmation' | trans }}</label>
                            <div class="col-md-8">
                                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder' : 'form.new_password_confirmation' | trans , 'required': 'required'}}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <input type="submit" class="btn btn-lg btn-primary" value="{{ 'change_password.submit' | trans }}">
                            </div>
                        </div>

                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


