{% extends 'base.html.twig' %}
{% trans_default_domain 'global' %}
{% block controller %}ng-controller="TestController"{% endblock %}
{% block main %}
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active"><a href="{{ path('my_tests') }}">{{ 'header.course' | trans }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'course.create' | trans }}</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="progress" ng-show="loading">
                    <div class="progress-bar progress-bar-striped active width90pc" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                        <span class="sr-only">45% Complete</span>
                    </div>
                </div>
                <div ng-init="testId={{ test.id }}"></div>
                <form class="form-horizontal form-bordered" role="form" id="editTest" ng-hide="loading">
                    <div class="form-group">
                        <label for="type" class="col-md-3 control-label">Loại test</label>
                        <div class="col-md-6">
                            <select id="type" name="type" ng-model="type" class="form-control mb-md">
                                <option value="1" selected="selected">Single Choice Test</option>
                                <option value="2" >Multi Choice Test</option>
                                <option value="3">Coding Test</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-md-3 control-label">Tiêu đề</label>
                        <div class="col-md-6">
                            <input type="text" value="" class="form-control input-rounded" name="name" id="name" ng-model="name" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-md-3 control-label">Mô tả câu hỏi</label>
                        <div class="col-md-6">
                            <textarea id="description" name="description" ng-model="description" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group" ng-if="type == 3">
                        <label for="language" class="col-md-3 control-label">Chọn ngôn ngữ lập trình</label>
                        <div class="col-md-6">
                            <select id="language" name="language" ng-model="$parent.language" class="form-control mb-md">
                                {% for language in languages %}
                                    <option value="{{ language.id }}">{{ language.name}} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-if="type == 1 || type == 2">
                        <label for="options" class="col-md-3 control-label">Phương án trả lời</label>
                        <fieldset  data-ng-repeat="choice in $parent.choices" class="col-md-6">
                            <select ng-model="choice.correct" class="form-control mb-md">
                                <option value="0" selected="selected">Incorrect Answer</option>
                                <option value="1">correct Answer</option>
                            </select>
                            <input type="text" ng-model="choice.value" name="" placeholder="Enter mobile number" class="form-control input-rounded" />
                            <button type="button" class="btn btn-danger" ng-show="$last" ng-click="removeChoice()">-</button>
                        </fieldset>
                        <button type="button" class="btn btn-info" ng-click="addNewChoice()">Add Choice</button>
                    </div>

                    <div class="form-group" ng-if="type == 3">
                        <label for="initialCode" class="col-md-3 control-label">Initial Code</label>
                        <textarea id="initialCode" name="initialCode" ng-model="$parent.initialCode"></textarea>
                    </div>

                    <div class="form-group" ng-if="type == 3">
                        <label for="expectedResult" class="col-md-3 control-label">{{ 'course.create_form.title' | trans }}</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <label for="code" class="control-label">Code</label>
                                <input id="code" name="code" ng-model="$parent.code" type="text" class="form-control input-rounded"/>
                                <span class="help-block">Click <a data-toggle="modal" data-target="#listCode" href="#">here</a> for a list of available code</span>
                            </div>
                            <div class="input-group">
                                <label for="stdErr" class="control-label">Code</label>
                                <input id="stdErr" name="stdErr" ng-model="$parent.stdErr" type="text" class="form-control input-rounded"/>
                                <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                            </div>
                            <div class="input-group">
                                <label for="stdOut" class="control-label">Code</label>
                                <input id="stdOut" name="stdOut" ng-model="$parent.stdOut" type="text" class="form-control input-rounded"/>
                                <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="type == 3">
                        <label for="image" class="col-md-3 control-label">Dependencies</label>
                        <div class="col-md-6">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="input-append">
                                    <div class="uneditable-input">
                                        <i class="fa fa-file fileupload-exists"></i>
                                        <span class="fileupload-preview"></span>
                                    </div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileupload-new">Select file</span>
                                        <button type="file" ngf-select="uploadFiles($file)" ngf-max-height="1000" ngf-max-size="1MB" class="btn btn-primary">{{ 'course.create_form.file' | trans }}</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="alert alert-danger" ng-if="uploadError">
                                <strong>Error !</strong> <{ uploadErrorMsg }>
                            </div>
                            <div ng-if="uploaded" ng-repeat="file in files">
                                <div class="input-group">
                                    <span><{ file.id }></span>
                                    <input type="text" id="<{ file.id }>" value="file.name" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="type ==3">
                        <label for="inputData" class="col-md-3 control-label">Input Data</label>
                        <div class="col-md-6">
                            <textarea id="inputData" name="inputData" ng-model="$parent.inputData" class="form-control"></textarea>
                            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                        </div>
                    </div>

                    <div class="form-group" ng-if="type == 3">
                        <label for="serverParameters" class="col-md-3 control-label">Server Parameter</label>
                        <div class="col-md-6">
                            <textarea id="serverParameters" name="serverParameters" ng-model="$parent.serverParameters" class="form-control"></textarea>
                            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button ladda-button="laddaLoading" data-style="slide-right" ng-click="create()" class="btn btn-primary border-radius5 ladda-button">{{ 'course.create_form.submit' | trans }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="listCode" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'course.delete.confirm' | trans }}</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-condensed mb-none">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th class="text-right">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>1</td>
                                <td class="text-right">$1.38</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2</td>
                                <td class="text-right">$1.38</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>3</td>
                                <td class="text-right">$1.38</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>4</td>
                                <td class="text-right">$1.38</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>5</td>
                                <td class="text-right">$1.91</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom %}
    <script src="{{ asset('bundles/viettutweb/js/controller/test/edit/test.js') }}"></script>
{% endblock %}