{% extends 'base.html.twig' %}
{% block controller %}ng-controller="ChapterController"{% endblock %}
{% block main %}
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active"><a href="{{ path('course_index') }}">Khóa học</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Thêm chương</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="col-md-9">
            <div class="row">
                <div class="blog-posts single-post">
                    <article class="post post-large blog-single-post">
                        <div class="post-image">
                            <div class="img-thumbnail">
                                <img class="img-responsive" src="{{ course.imagePath }}" alt="image path">
                            </div>
                        </div>
                        {#<div class="post-date">#}
                            {#<span class="day">{{ course.createdAt | date('d') }}</span>#}
                            {#<span class="month">{{ course.createdAt | date('F') | slice(0, 3) }}</span>#}
                        {#</div>#}
                        <div class="post-content">
                            <h2 class="text-center"><a href="#">{{ course.title }}</a></h2>
                            {#<textarea class="hidden" id="introduce">{{ course.introduce | raw }}</textarea>#}
                            {#<wiz-markdown content="introduce" class="markdown-body"></wiz-markdown>#}
                            <div>{{ course.introduce | mde }}</div>
                        </div>
                        <div ng-init="courseId={{ course.id }}"></div>
                    </article>
                </div>
            </div>
            <hr class="tall" />
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" name="addChapter">
                        <div class="form-group">
                            <label for="chapter">Tên chương *</label>
                            <input type="text" value="" class="form-control" id="chapter" ng-model="header" required>
                        </div>
                        <div class="form-group">
                            <div class="tabs">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a aria-expanded="false" href="#edit" data-toggle="tab"><i class="fa fa-star"></i>Chỉnh sửa</a>
                                    </li>
                                    <li>
                                        <a aria-expanded="true" href="#preview" data-toggle="tab">Xem trước</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="tab-content">
                                <div id="edit" class="tab-pane active">
                                    <label for="content">Nội dung *</label>
                                    <textarea
                                            ng-model="content"
                                            name="content"
                                            markdown-editor="{'iconlibrary': 'fa', addExtraButtons: true, resize: 'vertical'}"
                                            rows="15">
                                    </textarea>
                                </div>
                                <div id="preview" class="tab-pane">
                                    <div marked="content" class="markdown" style="padding: 20px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button ladda-button="laddaLoading" data-style="slide-right" ng-disabled="!isAuthenticated && createGuide.$valid" ng-click="add()" class="ladda-button btn-primary border-radius5">Thêm</button>
                            </div>
                        </div>
                        <div class="modal fade hidden" id="add-chapter-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="myModalLabel">Xác nhận</h4>
                                    </div>
                                    <div class="modal-body">
                                        Chương "<{ header }>" thêm thành công !
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" ng-click="goHome()">Home</button>
                                        <button type="button" class="btn btn-primary" ng-click="addAnotherChapter()">Tiếp tục thêm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <aside class="sidebar">
                <div class="sticky">
                    <h4>Chapters</h4>
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Giới thiệu khóa học</a>
                        <a href="#" class="list-group-item" ng-repeat="chapter in course.chapters">Chương <{ chapter.position }> : <{ chapter.header }></a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}
{% block custom %}
    <script src="{{ asset('bundles/viettutweb/js/controller/course/comment.js') }}"></script>
    <script src="{{ asset('bundles/viettutweb/js/controller/course/chapter.js') }}"></script>
{% endblock %}