{% extends 'base.html.twig' %}
{% trans_default_domain 'global' %}
{% block controller %}ng-controller="ChapterController"{% endblock %}
{% block main %}
    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('home_page') }}">Home</a></li>
                        <li class="active"><a href="{{ path('course_index') }}">{{ 'course.all' | trans }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ 'chapter.add.header' | trans }}</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="col-md-9">
            <div class="row">
                <div class="blog-posts single-post">
                    <article class="post post-large blog-single-post">
                        <div class="post-image">
                            <div class="img-thumbnail">
                                <img class="img-responsive" src="{{ course.imagePath }}" alt="image path">
                            </div>
                        </div>
                        <div class="post-content">
                            <h2 class="text-center"><a href="#">{{ course.title }}</a></h2>
                            <div>{{ course.introduce | mde }}</div>
                        </div>
                        <div ng-init="courseId={{ course.id }}"></div>
                    </article>
                </div>
            </div>
            <hr class="tall" />
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" role="form" name="addChapter">
                        <div class="alert alert-danger alert-dismissable" ng-if="showError">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ 'chapter.add.error' | trans }}
                        </div>
                        <div class="form-group">
                            <label for="chapter">{{ 'chapter.add.title' | trans }}</label>
                            <input type="text" value="" class="form-control" id="chapter" ng-model="header" required>
                        </div>
                        <div class="form-group">
                            <div class="tabs">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a aria-expanded="false" href="#edit" data-toggle="tab"><i class="fa fa-star"></i>{{ 'chapter.add.edit' | trans }}</a>
                                    </li>
                                    <li>
                                        <a aria-expanded="true" href="#preview" data-toggle="tab">{{ 'chapter.add.preview' | trans }}</a>
                                    </li>
                                </ul>

                            </div>
                            <div class="tab-content">
                                <div id="edit" class="tab-pane active">
                                    <label for="content">{{ 'chapter.add.content' | trans }}</label>
                                    <textarea
                                            ng-model="content"
                                            name="content"
                                            markdown-editor="{'iconlibrary': 'fa', addExtraButtons: true, resize: 'vertical', hiddenButtons : ['cmdPreview']}"
                                            rows="15">
                                    </textarea>
                                </div>
                                <div id="preview" class="tab-pane">
                                    <div marked="content" class="markdown padding20"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button ladda-button="laddaLoading" data-style="slide-right"  ng-click="add()" class="ladda-button btn-primary btn border-radius5">{{ 'chapter.add.submit' | trans }}</button>
                            </div>
                        </div>
                        <div class="modal fade hidden" id="add-chapter-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="myModalLabel">{{ 'chapter.add.confirm' | trans }}</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ 'chapter.add.message' | trans }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" ng-click="goHome()">{{ 'chapter.add.publish' | trans }}</button>
                                        <button type="button" class="btn btn-primary" ng-click="addAnotherChapter()">{{ 'chapter.add.continue' | trans }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <aside class="sidebar">
                <div class="sticky">
                    <h4>{{ 'chapter.add.list' | trans }}</h4>
                    <div class="list-group">
                        <a href="#" class="list-group-item active">{{ 'course.create_form.introduce' | trans }}</a>
                        <a href="#" class="list-group-item" ng-repeat="chapter in course.chapters">{{ 'chapter.add.prefix' | trans }} <{ chapter.position }> : <{ chapter.header }></a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
{% endblock %}
{% block custom %}
    <script src="{{ asset('bundles/viettutweb/js/prism.js') }}"></script>
    <script src="{{ asset('bundles/viettutweb/js/controller/course/comment.js') }}"></script>
    <script src="{{ asset('bundles/viettutweb/js/controller/course/chapter.js') }}"></script>
{% endblock %}